.tab::-webkit-scrollbar {
  width: 5px;
}

/* Track */
.tab::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

/* Handle */
.tab::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;

}

/* Handle on hover */
.tab::-webkit-scrollbar-thumb:hover {
  background: #555;
}
