.ant-form-item-row {
    justify-content: center;
}

.back-btn {
    background-color: white;
}

.ant-switch {
    background-color: rgba(0, 0, 0, 0.25);
}

.ant-switch-checked {
    background: #1890ff;
}