.page {
    background: url("../../assets/img/bg-login.jpg");
    // background: url("https://harnishdesign.net/demo/html/oxyy/images/login-bg-3.jpg");
}

.content {
    display: flex;
    background-color: rgb(25, 26, 31);
}

.animate {
    width: 50%;
}