.page{
    background: url("../../assets/img/bg-login.jpg");
    // background: url("https://harnishdesign.net/demo/html/oxyy/images/login-bg-3.jpg");
}
.content{
    width: 800px;
    display: flex;
    background-color: #191A1F;
}
.animate{
    width: 50%;
}
.form{
    width: 50%;
}