.display {
    // animation: animate 5s linear infinite;
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
}

@keyframes animate {
    10% {
        background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
    }
    92% {}
}

.page {
    background: url("../../assets/img/bg-login.jpg");
    object-fit: contain;
}

.shadow-border {
    box-shadow: rgb(255 255 255 / 81%) 0px 5px 15px;
}

.book-chair {
    -ms-overflow-style: none;
}

.book-chair::-webkit-scrollbar {
    display: none;
}