.ghe{
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: rgb(148, 148, 148);
    color: #fff;
    margin: 5px;
}
.gheDaDat {
    background-color: rgb(63, 62, 62) !important;
    cursor: no-drop;
}
.gheDangDat{
    background-color: rgb(21, 128, 61) !important;
    font-weight: bold;
}
.gheVip{
    background-color: rgb(220, 38, 38);
}
.gheDuocMinhDat{
    background-color: #e67e22 !important;
}