.pageRegister{
    background: url("../../assets/img/bg-login.jpg");
}
.content{
    width: 1000px;
    display: flex;
    background-color: #191A1F;
}
.animate{
    width: 50%;
}
.form{
    width: 50%;
}
.ant-form-item {
    margin-bottom: 10px;
}